
.vs/CadenceCalculator/v16/Server/sqlite3/db.lock
.vs/CadenceCalculator/v16/Server/sqlite3/storage.ide
.vs/CadenceCalculator/v16/Server/sqlite3/storage.ide-shm
.vs/CadenceCalculator/v16/Server/sqlite3/storage.ide-wal
CadenceCalculator/obj/Debug/CadenceCalculator.FormCadence.resources
CadenceCalculator/obj/Debug/CadenceCalculator.FormDetail.resources
CadenceCalculator/obj/Debug/CadenceCalculator.Resources.resources
CadenceCalculator/obj/Debug/CadenceCalculator.vbproj.FileListAbsolute.txt
CadenceCalculator/obj/Debug/CadenceCalculator.xml
CadenceCalculator/obj/Release/CadenceCalculator.FormCadence.resources
CadenceCalculator/obj/Release/CadenceCalculator.FormDetail.resources
CadenceCalculator/obj/Release/CadenceCalculator.Resources.resources
CadenceCalculator/obj/Release/CadenceCalculator.vbproj.FileListAbsolute.txt
CadenceCalculator/obj/Release/CadenceCalculator.xml
